<a href="#">
    <button class="p-button--positive has-icon go-top" aria-label="Scroll to top">
        <i class="p-icon--collapse is-light" data-toggle-behavior="invariant"></i>
    </button>
</a>
<a onclick="toggleModal()" aria-label="Click to subscribe">
    <button class="p-button--negative has-icon subscription-footer" aria-label="Scroll to top">
        <i class="p-icon--user p-icon--newsletter" data-toggle-behavior="invariant"></i>
    </button>
</a>
<a rel="noopener" href="https://mvp.microsoft.com/en-us/PublicProfile/5004078" target="_blank">
    <img src="/lib/img/mvp.png" alt="MVP logo" class="p-button--base mvp-footer" loading="lazy">
</a>
<a rel="noopener" href="https://mvp.microsoft.com/en-us/PublicProfile/5004078" target="_blank">
    <img src="/lib/img/mvp_avatar.png" alt="MVP logo" class="p-button--base mvp-avatar-footer" loading="lazy">
</a>
<a rel="noopener" href="https://www.buymeacoffee.com/rahulrai" target="_blank">
    <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
        class="p-button--base buymecoffee-footer" loading="lazy">
</a>
<div class="p-modal" id="modal" style="display:none;">
    <div class="p-modal__dialog" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description"
        style="overflow:auto;">
        <header class="p-modal__header">
            <h3 class="p-modal__title" id="modal-title">Subscribe</h3>
            <button class="p-modal__close" aria-label="Close active modal" onclick="toggleModal()">Close</button>
        </header>
        {{ partial "mailerlite.html" . }}
    </div>
</div>

<script defer type="text/javascript">
    function toggleModal(modal) {
        var modal = document.getElementById('modal');
        if (modal && modal.classList.contains('p-modal')) {
            if (modal.style.display === 'none') {
                modal.style.display = 'flex';
            } else {
                modal.style.display = 'none';
            }
        }
    }

    function setStylesheet(element) {
        element.rel = 'stylesheet';
    }

    document
        .querySelectorAll('[script-lazy-load]')
        .forEach(link => link.addEventListener('DOMContentLoaded', setStylesheet(link)));
</script>