{{ $options := (dict "targetPath" "css/custom.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $customCSS := resources.Get "sass/custom.scss" | resources.ToCSS $options }}
<link rel="preload" href={{ $customCSS.Permalink | relURL }} as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href={{ $customCSS.Permalink | relURL }}>
</noscript>

<link rel="dns-prefetch" href="https://graphcomment.com">
<link href="https://graphcomment.com" rel="preconnect" crossorigin>
<link rel="dns-prefetch" href="https://static.mailerlite.com">
<link href="https://static.mailerlite.com" rel="preconnect" crossorigin>
{{ $customJS := slice (resources.Get "scripts/instant.page.mjs" | resources.Minify) | resources.Concat "js/custom.js" }}
<script defer src={{ $customJS.Permalink }}></script>