<meta name="twitter:card" content="summary_large_image"/>
{{ $url := .Title }}
{{ $url = replace $url ":" "%3A" }}
{{ $url = replace $url "/" "%2F" }}
{{ $url = replace $url " " "%20" }}
<meta property="twitter:image" property="og:image" content=https://res.cloudinary.com/rahulrai/image/upload/w_1200,h_630,c_fill,f_auto/w_900,h_450,c_fit,co_rgb:FFFFFF,g_west,x_200,y_-10,l_text:signika_50_bold:{{ $url }}/og_tcb.png />
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
<meta name="twitter:site" content="@rahulrai_in"/>
<meta name="twitter:creator" content="@rahulrai_in"/>
<meta name="twitter:image:width" content= "1300" />
<meta name="twitter:image:height" content= "650" />