figure {
    text-align: center;

    >figcaption {
        font-style: normal;
        font-weight: 500;
    }
}

.content-button {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: black;
}

.lab-icon {
    border-bottom: 1px dotted #00efd1;
    margin-right: 5px;
    padding-bottom: 2px;
    position: relative;
    display: inline-flex;

    &:before {
        display: block;
        content: '';
        background-image: url(/lib/img/lab.svg);
        height: 1.7rem;
        width: 1.7rem;
    }

    &:hover:after {
        background: rgba(0, 0, 0, .8);
        top: 0px;
        font-weight: 100;
        font-style: normal;
        font-size: 15px;
        color: #fff;
        content: attr(data-title);
        left: 100%;
        padding: 0 5px 0;
        position: absolute;
        white-space: nowrap;
    }
}

.email-icon {
    &:before {
        display: block;
        content: "";
        background: url(/lib/img/email.svg) center center no-repeat;
        background-size: 40px;
        width: 40px;
        height: 50px;
    }
}

.p-link--logo {
    &:before {
        background: url('/lib/img/logo.svg') center center no-repeat;
        background-size: 70px 70px;
        display: block;
        width: 70px;
        height: 70px;
        content: "";
        margin-right: 5px;
        float: left;
    }
}

dark-mode-toggle {
    --dark-mode-toggle-light-icon: url(/lib/img/moon.svg);
    --dark-mode-toggle-dark-icon: url(/lib/img/sun.svg);
    --dark-mode-toggle-icon-filter: invert(80%);
    --dark-mode-toggle-icon-size: 20px;
}

.blinkers {
    @keyframes blink {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    span {
        margin-left: 2px;
        font-size: 20px;
        animation-name: blink !important;
        animation-duration: 1.5s !important;
        animation-iteration-count: infinite !important;
        animation-fill-mode: both !important;

        &:nth-child(2) {
            animation-delay: .2s !important;
        }

        &:nth-child(3) {
            animation-delay: .4s !important;
        }
    }
}

.page-footer {
    margin-top: 10px;
    // variable set by the theme.
    background-color: var(--bg-banner);

    .decorated-link {
        border-bottom: 1px dotted #00efd1;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0;

        a:hover {
            text-decoration: none;
        }

        a {
            img {
                width: auto;
                height: auto;

                &.logo {
                    margin-right: 25px;
                    height: 30px;
                    width: 30px;
                }
            }

            &:last-child {
                img.logo {
                    margin-right: 0px;
                }
            }
        }

        div {
            box-sizing: border-box;
            align-self: end;

            &:first-child {
                grid-column: span 12;
            }

            &:nth-child(2) {
                grid-column: span 6;
            }

            &:nth-child(3) {
                grid-column: span 6;
            }
        }
    }
}

.comments-icon {
    line-height: 50px;
    font-size: 1.2em;
    font-style: normal;

    &:before {
        background: url('/lib/img/comment.svg') center center no-repeat;
        background-size: 50px 50px;
        width: 50px;
        height: 50px;
        content: "";
        margin-right: 5px;
        float: left;
    }
}