figure {
    text-align: center;

    >figcaption {
        font-style: normal;
        font-weight: 500;
    }
}

.content-button {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: black;
}