<p>
  <img src="/lib/img/my_banner.png" alt="My banner" class="publication-img" loading="lazy" />
</p>
<div class="logo-bg">
  <p>
    Hello, I am Rahul, and I write about my thoughts and experiments with the cloud on this blog. I am a Software Engineer at heart, a <a href="https://mvp.microsoft.com/en-us/PublicProfile/5004078">Microsoft MVP</a>, and a <a
      href="https://dzone.com/users/3907325/rahulrai-1.html">DZone MVB</a>. By profession, I am a Group Product Manager at <a href="https://www.logicmonitor.com/"
      target="_blank">LogicMonitor</a>. You can find my free eBooks and courses <a href="/publications">here on this website</a>. 
     <p>
      Would you like to add me to your professional network while you are here? To connect and say hello, please click on the social media links on this page.
     </p>
      For my speaker/author profile, please use the following text.
  </p>
  <h2>Speaker Profile</h2>
  <p>
    Rahul Rai is a technology enthusiast and a Software Engineer at heart. He is a Microsoft Azure MVP with over <span id="experience"></span><span class="unselectable">(&#8617; to date)&nbsp;</span>of hands-on experience in cloud and web technologies. With so much leadership experience behind him and currently holding a Group Product Manager Role at LogicMonitor, he has successfully established and led engineering teams and designed enterprise applications to help solve businesses’ organizational challenges.  
  </p>
  <p>
    Outside of his day job, Rahul ensures he’s still contributing to the cloud ecosystem by authoring books, offering free workshops, and frequently posting on his blog: <a href="https://thecloudblog.net">https://thecloudblog.net</a> to share his insights and help break down complex topics for other current and aspiring professionals. 
  </p>
</div>
<script>
  document.getElementById("experience").innerHTML =
    new Date().getFullYear() - 2008 + " years ";
</script>