{{ define "main" }}
<header class="p-strip page-banner">
  <div class="row">
    <h1>{{ .Title | markdownify }}</h1>
  </div>

  {{ partial "single/post-meta.html" . }}
</header>

<section class="p-strip is-shallow">
  <main class="row post-content">
    <div class="p-media-object--large">
      <img src="/lib/img/profile_picture.jpg" class="p-media-object__image is-round"
        alt="Profile picture - Rahul Rai" />
      <div class="p-media-object__details">
        <h1 class="p-media-object__title">
          <a href="mailto:rahul@rahul-rai.com">Rahul Rai</a>
        </h1>
        <p class="p-media-object__content">
          <i class="work-icon"></i>Cloud Architect<br class="mobile-br" />
          <i class="location-icon"></i>Sydney, AU
        </p>
      </div>
    </div>

    <article class="logo-bg">
      <h2>Fast Track Istio</h2>
      <div class="row">
        <div class="col-3">
          <img src="/lib/img/publications/fast-track-istio.png" alt="Istio Succinctly" class="publication-img" />
        </div>
        <div class="col-9">
          <div><i class="diary-icon"></i>Katacoda</div>
          <div><i class="pen-stand-icon"></i>Author</div>
          <div>
            <i class="share-icon"></i>
            <a href="https://katacoda.com/rahulrai/courses/fast-track-istio" target="_blank" rel="noreferrer">Link to
              course</a>
          </div>
          Istio is one of the most popular solutions for service meshes in cloud-native infrastructures. I co-authored
          this FREE course for participants who want to learn the basics of Istio within a day. I hosted the workshop on
          Katacoda so that you can learn Istio without installing anything to your system. There is a video playlist to
          accompany the workshop <a
            href="https://www.youtube.com/watch?v=ToUurxaXIrA&list=PLM4Db0UWu45LpokqVBFjfFYqQljPsqsd6" target="_blank"
            rel="noreferrer">on YouTube</a>. To learn Istio, read the <a
            href="https://azuretar.com/fast-track-istio-workshop-service-mesh-fundamentals/" target="_blank"
            rel="noreferrer">the short description of the videos</a>, launch Katacoda, watch the videos, and let me
          guide you through the workshop.
        </div>
      </div>
    </article>

    <article class="logo-bg">
      <h2>Istio Succinctly</h2>
      <div class="row">
        <div class="col-3">
          <img src="/lib/img/publications/istio-succinctly.png" alt="Istio Succinctly" class="publication-img" />
        </div>
        <div class="col-9">
          <div><i class="diary-icon"></i>Syncfusion</div>
          <div><i class="pen-stand-icon"></i>Author</div>
          <div>
            <i class="share-icon"></i>
            <a href="https://www.syncfusion.com/ebooks/istio-succinctly" target="_blank" rel="noreferrer">Link to
              title</a>
          </div>
          Istio is one of the most popular solutions for service meshes in
          cloud-native infrastructures, and it is most often deployed on
          Kubernetes clusters. In Istio Succinctly, authors Rahul Rai and Tarun
          Pabbi provide a practical guide to getting started with Istio, from
          setting up a Kubernetes cluster, to managing its traffic management,
          security, observability, and policy enforcement.
        </div>
      </div>
    </article>

    <article class="logo-bg">
      <h2>Kubernetes Succinctly</h2>
      <div class="row">
        <div class="col-3">
          <img src="/lib/img/publications/kubernetes-succinctly.png" alt="Kubernetes Succinctly"
            class="publication-img" />
        </div>
        <div class="col-9">
          <div><i class="diary-icon"></i>Syncfusion</div>
          <div><i class="pen-stand-icon"></i>Author</div>
          <div>
            <i class="share-icon"></i><a href="https://www.syncfusion.com/ebooks/kubernetes-succinctly" target="_blank"
              rel="noreferrer">Link to title</a>
          </div>
          With excellent orchestration and routing capabilities, Kubernetes is
          an enterprise-grade platform for building microservices applications.
          Kubernetes is evolving as the de facto container management tool used
          by organizations and cloud vendors all over the world. Kubernetes
          Succinctly by Rahul Rai and Tarun Pabbi is your guide to learning
          Kubernetes and leveraging its many capabilities for developing,
          validating, and maintaining your applications.
        </div>
      </div>
    </article>

    <article class="logo-bg">
      <h2>Microservices with Azure</h2>
      <div class="row">
        <div class="col-3">
          <img src="/lib/img/publications/microservices-with-azure.jpg" alt="Microservices with Azure"
            class="publication-img" />
        </div>
        <div class="col-9">
          <div><i class="diary-icon"></i>Packt</div>
          <div><i class="pen-stand-icon"></i>Author</div>
          <div>
            <i class="share-icon"></i><a href="https://microserviceswithazure.com/" target="_blank"
              rel="noreferrer">Link to title</a>
          </div>
          <ul>
            <li>
              Explore architectural patterns for building modern day
              Microservice-based systems
            </li>
            <li>
              Learn about Microsoft Service Fabric as a platform to host
              distributed Microservices
            </li>
            <li>
              Discover multiple options for hosting Microservices on
              heterogeneous, cross-platform environments
            </li>
            <li>
              Learn to configure Azure Service Fabric clusters for
              enterprise-grade service deployments
            </li>
          </ul>
        </div>
      </div>
    </article>

    <article class="logo-bg">
      <h2>Cloud Design Patterns</h2>
      <div class="row">
        <div class="col-3">
          <img src="/lib/img/publications/cloud-design-patterns.jpg" alt="Cloud design patterns"
            class="publication-img" />
        </div>
        <div class="col-9">
          <div><i class="diary-icon"></i>Microsoft</div>
          <div><i class="pen-stand-icon"></i>Community contributor</div>
          <div>
            <i class="share-icon"></i><a href="https://www.amazon.com/gp/product/1621140369" target="_blank"
              rel="noreferrer">Link to title</a>
          </div>
          This guide demonstrates design patterns that can help you to solve the
          problems you might encounter in many different areas of cloud
          application development. Each pattern discusses design considerations,
          and explains how you can implement it using the features of Windows
          Azure. The patterns are grouped into categories: availability, data
          management, design and implementation, messaging, performance and
          scalability, resilience, management and monitoring, and security.
        </div>
      </div>
    </article>
  </main>
</section>
{{ end }}