{{ define "main" }}
<header class="p-strip page-banner">
  <div class="row">
    <h1>{{ .Title | markdownify }}</h1>
  </div>

  {{ partial "single/post-meta.html" . }}
</header>

<section class="p-strip is-shallow">
  <main class="row post-content">
    <div class="p-media-object--large">
      <img src="/lib/img/profile_picture.jpg" class="p-media-object__image is-round" alt="Profile picture - Rahul Rai"
        loading="lazy" />
      <div class="p-media-object__details">
        <h1 class="p-media-object__title">
          <a href="mailto:rahul@rahul-rai.com">Rahul Rai</a>
        </h1>
        <p class="p-media-object__content">
          <i class="work-icon"></i>Cloud Architect<br class="mobile-br" />
          <i class="location-icon"></i>Sydney, AU
        </p>
      </div>
    </div>
    <div class="logo-bg">
      <p>
        Hi, my name is Rahul. I jot my thoughts and experiments with the cloud on this blog. I am an Engineering Manager
        at <a href="https://zip.co/">Zip</a>. I wrote some free e-Books and courses that you can find <a
          href="/publications">here on this website</a>. If you scroll/swipe to this website's footer, you will find
        links to my socials that you can use to connect with me. If you are here seeking my speaker or author profile,
        then use the following text.
      </p>
      <h2>Speaker Profile</h2>
      <p>
        I am a versatile Cloud Architect with a passion for leadership and problem-solving with over <span
          id="experience"></span> of hands-on experience in cloud and web technologies. I have a proven track record of
        applying emerging technologies and processes to bring efficiency to enterprise technology operations. I have
        successfully designed enterprise applications and fostered innovation, collaboration, and improvement in teams
        for my clients and employers.
      </p>
      <p>
        I possess excellent interpersonal communication, creative, and management skills, which enable me to lead
        cross-functional teams in an organization. I have authored three books on Microservices orchestrators: Azure
        Service Fabric- <i>Microservices with Azure</i>, by Packt, Kubernetes- <i>Kubernetes Succinctly</i>, and
        <i>Istio Succinctly</i>, by Syncfusion. You can connect with me through my blog: <a
          href="https://thecloudblog.net">https://thecloudblog.net</a>.
      </p>
    </div>
  </main>
</section>
<script>
  document.getElementById("experience").innerHTML = new Date().getFullYear() - 2008 + " years (&#8617; to date) ";
</script>
{{ end }}