{{ define "main" }}
<header class="p-strip page-banner">
    <div class="row">
        <h1>
            {{ if eq .Section "lab" }}
            <i class="p-tooltip--right lab-icon" aria-describedby="right">
                <span class="p-tooltip__message" role="tooltip" id="right">Lab: Tip/Code sample</span>
            </i>
            {{ end }}
            {{ .Title | markdownify }}
        </h1>
    </div>

    {{ partial "single/post-meta.html" . }}
</header>

<section class="p-strip is-shallow">
    <main class="post-content">
        {{ .Content }}
    </main>
</section>

{{ if .Section }}
<footer class="p-strip is-wrapper">
    <div class="row">
        {{ partial "single/pagination.html" . }}
    </div>
</footer>
{{ end }}

<div class="p-strip u-no-padding--bottom is-shallow no-print">
    <div class="row">
        <i class="comments-icon blinkers">Speak your mind<span>.</span><span>.</span><span>.</span></i>
        {{ if not .Site.IsServer }}
        <div id="graphcomment"></div>
        <script defer type="text/javascript">
            window.gc_params = {
                graphcomment_id: 'the-cloud-blog',
                fixed_header_height: 0,
                identifier: '{{ $.Param "comment_id" }}',
                uid: '{{ $.Param "comment_id" }}',
                disable_ads: true,
                title: 'the-cloud-blog'
            };

            /* - - - DON'T EDIT BELOW THIS LINE - - - */
            (function () {
                var gc = document.createElement('script');
                gc.type = 'text/javascript';
                gc.async = true;
                gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(
                    gc);
            })();
        </script>
        {{ end }}
    </div>
</div>

{{ end }}