{{ define "main" }}
<header class="p-strip page-banner">
    <div class="row">
        <h1>
            {{ if eq .Section "lab" }}
            <i class="p-tooltip--right lab-icon" aria-label="Lab: Tip/Code sample">
                <span class="p-tooltip__message" role="tooltip">Lab: Tip/Code sample</span>
            </i>
            {{ end }}
            {{ .Title | markdownify }}
        </h1>
    </div>

    {{ partial "single/post-meta.html" . }}

    <div class="row">
        <div class="col-8">
            <ul
                class="p-inline-list-icons p-inline-list-icons--share-links u-no-padding--left u-no-margin--left u-unselectable banner-social">
                <li class="p-inline-list__item">
                    <i class="p-icon--facebook p-icon--my-photo"></i>
                </li>
                <li class="p-inline-list__item">
                    <a rel="noopener" href="https://twitter.com/intent/user?screen_name=rahulrai_in" target="_blank">
                        <b>Twitter</b>
                    </a>
                </li>
                <li class="p-inline-list__item">
                    <a rel="noopener" href="https://www.linkedin.com/in/rahulrai-in" target="_blank">
                        <b>LinkedIn</b>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-4 col--advt">
            <script async type="text/javascript"
                src="//cdn.carbonads.com/carbon.js?serve=CESIP53Y&placement=thecloudblognet" id="_carbonads_js">
            </script>
        </div>
    </div>
</header>

<section class="p-strip is-shallow">
    <main class="post-content">
        <div class="col--advt-small">
            <script async type="text/javascript"
                src="//cdn.carbonads.com/carbon.js?serve=CESIP53Y&placement=thecloudblognet" id="_carbonads_js_1">
            </script>
        </div>
        {{ .Content }}
    </main>
</section>

{{ if .Section }}
<footer class="p-strip is-wrapper">
    <div class="row">
        {{ partial "single/pagination.html" . }}
    </div>
</footer>
{{ end }}

<div class="p-strip u-no-padding--bottom is-shallow no-print">
    <div class="row">
        <i class="comments-icon blinkers">Speak your mind<span>.</span><span>.</span><span>.</span></i>
        {{ if not .Site.IsServer }}
        <div id="graphcomment"></div>
        <script defer type="text/javascript">
            window.gc_params = {
                graphcomment_id: 'the-cloud-blog',
                fixed_header_height: 0,
                identifier: '{{ $.Param "comment_id" }}',
                uid: '{{ $.Param "comment_id" }}',
                disable_ads: true,
                title: 'the-cloud-blog'
            };

            /* - - - DON'T EDIT BELOW THIS LINE - - - */
            (function () {
                var gc = document.createElement('script');
                gc.type = 'text/javascript';
                gc.async = true;
                gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(
                    gc);
            })();
        </script>
        {{ end }}
    </div>
</div>

{{ end }}