{{ define "main" }}
<header class="p-strip page-banner">
  <div class="row">
    <h1>{{ .Title | markdownify }}</h1>
  </div>

  {{ partial "single/post-meta.html" . }}
</header>

<section class="p-strip is-shallow">
  <main class="row post-content">
    <div class="p-media-object--large">
      <img src="/lib/img/profile_picture.jpg" class="p-media-object__image is-round" alt="Profile picture - Rahul Rai"
        loading="lazy" onerror="this.style.display='none'" />
      <div class="p-media-object__details">
        <h1 class="p-media-object__title">
          Rahul Rai
        </h1>
        <p class="p-media-object__content">
          Cloud Architect &middot; Sydney
        </p>
      </div>
    </div>
    <ul class="p-inline-list--middot">
      <li class="p-inline-list__item">
        <a rel="noopener" href="https://github.com/rahulrai-in" target="_blank">
          GitHub
        </a>
      </li>
      <li class="p-inline-list__item">
        <a rel="noopener" href="mailto:rahul@rahul-rai.com" target="_blank">
          Email
        </a>
      </li>
      <li class="p-inline-list__item">
        <a rel="noopener" href="https://www.linkedin.com/in/rahulrai-in" target="_blank">
          LinkedIn
        </a>
      </li>
      <li class="p-inline-list__item">
        <a rel="noopener" href="https://twitter.com/rahulrai_in" target="_blank">
          Twitter
        </a>
      </li>
      <li class="p-inline-list__item">
        <a rel="noopener" href="https://mvp.microsoft.com/en-us/PublicProfile/5004078" target="_blank">
          Microsoft MVP
        </a>
      </li>
    </ul>
    {{ $path := printf "other/%s" $.Params.slug}}
    {{ partial $path . }}
  </main>
</section>
{{ end }}