name: 'Deploy to Netlify:Prod'
on:
  push:
    branches: [ master ]
defaults:
  run:
    working-directory: ./tcb
jobs:
  build_deploy:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
            submodules: true
            hugo-version: '0.74.3'
            extended: true

      - name: Restore modules
        run: hugo mod get -u   

      - name: Build
        run: hugo --minify --gc

      - name: Install Node packages
        run: cd functions/ogimage && npm install

      - name: Deploy
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=./tcb/public --functions=./tcb/functions --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}